@import ../../assets/css/circle-percentage.css

.selector-align
  margin-top: 50px
  margin-left: 70px

.circle 
  height: 100px
  border-color: #889EB7
  position: relative
  border: 2px solid #999
  border-radius: 100%
  width: 100px
  line-height: 50px
  text-align: center
  margin-top: 50px
  background-color: #fff
  z-index: 2
  
.circle:before
  position: relative
  bottom: 0
  border-width: 0 0 0 1px
  border: 1px solid #999
  width: 10px
  height: 50px
  margin-left: -1px


.c100:first-child
  margin-top: 0

.c100:first-child:before
  display: none
