<div class="d-flex flex-row">
  <div class="selector-align">
    <div class="c100 p34 d-flex flex-column">
      <span><img src="../assets/img/match5.png" [routerLink]="[{ outlets: { infos: ['info-perso'] } }]" /></span>
      <div class="slice">
        <div class="bar"></div>
        <div class="fill"></div>
      </div>
    </div>
    <div class="c100 p34 d-flex flex-column">
      <span><img src="../assets/img/match5.png" [routerLink]='["/user/etudes"]' /></span>
      <div class="slice">
        <div class="bar"></div>
        <div class="fill"></div>
      </div>
    </div>
    <div class="c100 p34 d-flex flex-column">
      <span><img src="../assets/img/match5.png" [routerLink]='["/professionnel"]' /></span>
      <div class="slice">
        <div class="bar"></div>
        <div class="fill"></div>
      </div>
    </div>
  </div>

  <div class="or-spacer-vertical left">
    <div class="mask"></div>
  </div>
</div>
