<div class="d-flex flex-row">
  <div class="selector-align">
    <div class="c100 p34 d-flex flex-column">
      <span><img class="img-size-infos" src="../assets/img/infos.png" [routerLink]='["/user/info-perso"]' /></span>
      <div class="slice">
        <div class="bar"></div>
        <div class="fill"></div>
      </div>
    </div>
    <div class="c100 p34 d-flex flex-column">
      <span><img class="img-size-etudes" src="../assets/img/etudes.png" [routerLink]='["/user/etudes"]' /></span>
      <div class="slice">
        <div class="bar"></div>
        <div class="fill"></div>
      </div>
    </div>
    <div class="c100 p34 d-flex flex-column">
      <span><img class="img-size-pro" src="../assets/img/professionnel.png" [routerLink]='["/user/professionnel"]' /></span>
      <div class="slice">
        <div class="bar"></div>
        <div class="fill"></div>
      </div>
    </div>
  </div>

  <div class="or-spacer-vertical left">
    <div class="mask"></div>
  </div>
</div>
