<!-- Start Preloader -->
<div class="preloader">
  <div class="spinner">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>
</div>
<!-- End Preloader -->
<!-- Start Header Area -->
<header class="header header-v2 fixed-top">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-2 col-md-3 col-4">
        <!-- Start Logo -->
        <div id="logomitux" class="logo" data-animate="fadeInUp" data-delay=".2" style="visibility: hidden">
          <a href="#">
            <img src="../assets/images/LogoFiles/Vector/SVG/withBackground.svg" data-rjs="2" alt="Site logo" width="50%" height="50%">
            <img src="../assets/images/LogoFiles/Vector/SVG/withBackground.svg" data-rjs="2" alt="Site logo" width="50%" height="50%">
          </a>
        </div>
        <!-- End Logo -->
      </div>
      <div class="col-lg-8 col-md-6 col-4">
        <nav class="text-right">
          <!-- Start Header Menu -->
          <div class="main-menu" data-animate="fadeInUp" data-delay=".2">
            <ul>
              <!--
              <li class="active"><a href="#">Home <i class="fa fa-caret-down"></i></a>
                <ul class="sub-menu">
                  <li><a href="index.html">Homepage v1</a></li>
                  <li class="active"><a href="index-2.html">Homepage v2</a></li>
                  <li><a href="index-3.html">Homepage v3</a></li>
                </ul>
              </li>
              -->
              <li><a href="#presentation">Présentation</a></li>
              <li><a href="#services">Nos services</a></li>
              <li><a href="#team">Notre équipe</a></li>

              <!--<li><a href="#">Blog <i class="fa fa-caret-down"></i></a>
                <ul class="sub-menu">
                  <li><a href="blog.html">Full width Blog</a></li>
                  <li><a href="blog-sidebar-left.html">Blog Sidebar Left</a></li>
                  <li><a href="blog-sidebar-right.html">Blog Sidebar Right</a></li>
                  <li><a href="blog-details.html">Blog Details</a></li>
                </ul>
              </li>-->
              <li><a href="#contact">Contact</a></li>
              <li><a href="#about">A propos de nous</a></li>
            </ul>
          </div>
          <!-- End Header Menu -->
        </nav>
      </div>
      <div class="col-lg-2 col-md-3 col-4 text-right">
        <!-- Start Header Button -->
        <a data-animate="fadeInUp" data-delay=".2" [routerLink]="['/login']" class="header-btn btn"><i class="fas fa-sign-in-alt" aria-hidden="true"></i><span>&nbsp;&nbsp;se connecter</span></a>
        <!-- End Header Button -->
      </div>
    </div>
  </div>
</header>
<!-- End Header Area -->
<!-- Start Hero Area -->
<section class="hero-area hero-v2 transparent-bg-shape" id="presentation">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7 col-md-8 col-12">
        <!-- Start Hero Content -->
        <div class="hero-content ptb-170">
          <h1 data-animate="fadeInUp" data-delay=".05"><span style="color: #0b0b0b">Présentation</span></h1>
          <p data-animate="fadeInUp" data-delay=".3" style="color: #0b0b0b">
            MITUX est une startup spécialisée dans
            l'amélioration de la gestion de votre service d'information ainsi que l'expérience user
          </p>
          <!--<a data-animate="fadeInUp" data-delay=".5" href="#" class="hero-btn btn">Sign In Now</a>
          <a data-animate="fadeInUp" data-delay=".7" href="login/login.html" class="plan-btn btn">se connecter</a>
          -->
        </div>
        <!-- End Hero Content -->
      </div>
      <div class="col-lg-5 col-md-4 col-12">
        <!-- Start Hero Image -->
        <div class="hero-right-img hero-image pt-80" data-animate="fadeInUp" data-delay=".2">
          <img src="../assets/images/LogoFiles/Vector/SVG/noBackground.svg" data-rjs="2" alt="Hero Area Image">
        </div>
        <!-- End Hero Image -->
      </div>
    </div>
  </div>
  <!--
  <div class="hero-shape">
    <img src="../assets/img/banner_shape.svg" alt="shape3"></img>
  </div> -->
  <div class="hero-shape padding-footer">
    <img src="../assets/img/shape-footer.svg" alt="shape3" />
  </div>
</section>

<!-- Start Breadcrumb -->
<section class="breadcrumb-area breadcrumb-footer" data-animate="fadeInUp" data-delay=".4" id="services">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="page-title text-white title-white">
          <h4>Services</h4>
          <ul class="custom-breadcrumb list-unstyled">
            <li class="breadcrumb-item">
              <a href="index.html">
                <i class="fas fa-users-cog"></i>
                &nbsp;&nbsp;Nos services
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Start Page Welcome -->
<section class="page-welcome domain-welcome">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-12">
        <!-- Start Page Welcome Content -->
        <div class="page-welcome-content domain-hero-content" style="position: relative; top: -50%">
          <h3 data-animate="fadeInUp" data-delay=".1">Les services</h3>
          <h1 data-animate="fadeInUp" data-delay=".2">Offerts Par Notre <br>Société</h1>
          <p data-animate="fadeInUp" data-delay=".3">
            Contrary to popular belief, Lorem Ipsum is not
            simply random text. It has roots in a piece of classical latin making it over. Flat
            white airport flat white elegant bulletin charm.
          </p>
        </div>
        <!-- End Page Welcome Content -->
      </div>
      <div class="col-lg-6 col-12">
        <!-- Start Welcome Feature -->
        <div class="domain-hero-feature hero-feature" data-animate="fadeInUp" data-delay=".3">
          <!-- Start Single Feature -->
          <div class="single-hero-feature">
            <div class="feature-item-1 hero-feature-text rounded">
              <h5><span>1.</span>Consulting</h5>
              <p>
                Les services que nous offrons visent à améliorer le fonctionnement et la
                performance, actuels ou futurs, de votre organisation.
              </p>
            </div>
          </div>
          <!-- End Single Feature -->
          <!-- Start Single Feature -->
          <div class="single-hero-feature feature-absulate">
            <div class="feature-item-2 hero-feature-text rounded">
              <h5><span>2.</span>Développement</h5>
              <p>
                L'assurance que vos applications seront développées par nos plus talentueux
                experts.
              </p>
            </div>
          </div>
          <!-- End Single Feature -->
          <!-- Start Single Feature -->
          <div class="single-hero-feature feature-absulate feature-absulate-2">
            <div class="feature-item-3 hero-feature-text rounded">
              <h5><span>3.</span>Champ à remplir</h5>
              <p>The point of using or Lorem is Ipsm is that it has a mor for less is normal.</p>
            </div>
          </div>
          <!-- End Single Feature -->
        </div>
        <!-- Start Welcome Feature -->
      </div>
    </div>
  </div>
</section>
<!-- End Page Welcome -->
<!-- Start Single Plan -->
<!-- End Single Plan -->
<!-- Start Breadcrumb -->
<section class="breadcrumb-area" data-animate="fadeInUp" data-delay=".4" id="team">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="page-title text-white title-white">
          <h4>Notre équipe</h4>
          <ul class="custom-breadcrumb list-unstyled">
            <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-users"></i>Membres</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Start Team Area -->
<section class="bg-light pt-130 pb-130">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="team-slider owl-carousel" data-owl-items="4" data-owl-margin="30" data-owl-nav="true" data-owl-responsive='{"0": {"items": "1"}, "576": {"items": "2"}, "991": {"items": "3"}, "1170": {"items":"4"}}' data-animate="fadeInUp" data-delay=".3">
          <!-- Start Single Team -->
          <div class="single-team">
            <img src="../assets/img/team/team-1.jpg" data-rjs="2" alt="Team Item">
            <div class="team-hover text-white">
              <div class="team-hover-wrap d-table">
                <div class="team-hover-inner d-table-cell">
                  <h4>Andrio Abero</h4>
                  <span>UX Designer</span>
                  <p>“Lorem ipsum dolor sitad amet, conse adipisicing eiusmod tempor dididunit labore lore magna.“</p>
                  <ul class="team-social-icon">
                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- End Single Team -->
          <!-- Start Single Team -->
          <div class="single-team">
            <img src="../assets/img/team/team-2.jpg" data-rjs="2" alt="Team Item">
            <div class="team-hover text-white">
              <div class="team-hover-wrap d-table">
                <div class="team-hover-inner d-table-cell">
                  <h4>Asif Ikbal</h4>
                  <span>Web Designer</span>
                  <p>“Lorem ipsum dolor sitad amet, conse adipisicing eiusmod tempor dididunit labore lore magna.“</p>
                  <ul class="team-social-icon">
                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- End Single Team -->
          <!-- Start Single Team -->
          <div class="single-team">
            <img src="../assets/img/team/team-3.jpg" data-rjs="2" alt="Team Item">
            <div class="team-hover text-white">
              <div class="team-hover-wrap d-table">
                <div class="team-hover-inner d-table-cell">
                  <h4>MH Hasan</h4>
                  <span>UX Designer</span>
                  <p>“Lorem ipsum dolor sitad amet, conse adipisicing eiusmod tempor dididunit labore lore magna.“</p>
                  <ul class="team-social-icon">
                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- End Single Team -->
          <!-- Start Single Team -->
          <div class="single-team">
            <img src="../assets/img/team/team-4.jpg" data-rjs="2" alt="Team One">
            <div class="team-hover text-white">
              <div class="team-hover-wrap d-table">
                <div class="team-hover-inner d-table-cell">
                  <h4>Akib Noor</h4>
                  <span>Content Writer</span>
                  <p>“Lorem ipsum dolor sitad amet, conse adipisicing eiusmod tempor dididunit labore lore magna.“</p>
                  <ul class="team-social-icon">
                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- End Single Team -->
          <!-- Start Single Team -->
          <div class="single-team border-radius">
            <img src="../assets/img/team/team-2.jpg" data-rjs="2" alt="Team One">
            <div class="team-hover text-white">
              <div class="team-hover-wrap d-table">
                <div class="team-hover-inner d-table-cell">
                  <h4>Imran Khan</h4>
                  <span>UI Designer</span>
                  <p>“Lorem ipsum dolor sitad amet, conse adipisicing eiusmod tempor dididunit labore lore magna.“</p>
                  <ul class="team-social-icon">
                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- End Single Team -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Team Area -->
<!-- Start Breadcrumb -->
<section class="breadcrumb-area" data-animate="fadeInUp" data-delay=".4" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="page-title text-white title-white">
          <h4>Contact</h4>
          <ul class="custom-breadcrumb list-unstyled">
            <li class="breadcrumb-item">
              <a href="index.html">
                <i class="fa fa-home"></i>Contactez
                nous
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Start Pricing Area -->
<section class="pt-50">
  <div class="container">

    <div class="row d-flex justify-content-center">
      <div class="col-md-8">
        <!-- Start Section Title -->
        <div class="section-title text-center">
          <h2 data-animate="fadeInUp" data-delay=".3">Vous êtes ...</h2>
          <p data-animate="fadeInUp" data-delay=".5">Choisissez le poste qui vous définit le mieux.</p>
        </div>
        <!-- End Section Title -->
      </div>
    </div>

    <!-- End Plan Slider -->
    <div class="row">
      <div class="col-12">

        <!-- Start Plan Content -->
        <div class="colonnes-container">
          <!-- Start Monthly Content -->
          <div class="tab-pane show fade plan-slider active" id="monthly" role="tabpanel">

            <!-- Start Single Plan -->
            <div class="single-plan-item colonnes">
              <div class="plan-header" style="background-color: #21b6ad; border-radius: 30px 30px 0 0">
                <h2 style="text-align: center">Consultant</h2>
              </div>
              <div class="plan-content" style="background-color: #f4f8f8; border-radius: 0 0 30px 30px">
                Vous êtes consultant et vous voulez vous renseigner sur... &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="plan-btn-wrapper text-center">
                  <a href="#forms" class="plan-btn btn-white" id="conf-consultant">Confirmer</a>
                </div>
              </div>
            </div>
            <!-- End Single Plan -->
            <!-- Start Single Plan -->
            <div class="single-plan-item colonnes">
              <div class="plan-header" style="background-color: #21b6ad; border-radius: 30px 30px 0 0">
                <h2 style="text-align: center">Curieux</h2>
              </div>
              <div class="plan-content" style="background-color: #f4f8f8; border-radius: 0 0 30px 30px">
                Vous êtes juste curieux et voulez en savoir plus sur nos services... &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="plan-btn-wrapper text-center">
                  <a href="#forms" class="plan-btn btn-white" id="conf-curieux">Confirmer</a>
                </div>
              </div>
            </div>
            <!-- End Single Plan -->
            <!-- Start Single Plan -->
            <div class="single-plan-item colonnes">
              <div class="plan-header" style="background-color: #21b6ad; border-radius: 30px 30px 0 0">
                <h2 style="text-align: center">Société</h2>
              </div>
              <div class="plan-content" style="background-color: #f4f8f8; border-radius: 0 0 30px 30px">
                Vous représentez une société qui s'intéresse aux services que nous proposons.
                <div class="plan-btn-wrapper text-center">
                  <a href="#forms" class="plan-btn btn-white" id="conf-societe">Confirmer</a>
                </div>
              </div>
            </div>
            <!-- End Single Plan -->


          </div>
          <!-- End Yearly Content -->
        </div>
        <!-- End plan Content -->
      </div>
    </div>
    <!-- End Plan Slider -->
  </div>
</section>
<!-- End Pricing Area -->


<script>$(document).ready(function () {
				$("#form-societe").hide('fast');
				$("#form-curieux").hide('fast');
				$("#form-consultant").hide('fast');


				$("#close-form1").click(function () {
					$("#form-societe").hide('slow');
					$("#form-curieux").hide('slow');
					$("#form-consultant").hide('slow');
				});
				$("#close-form2").click(function () {
					$("#form-societe").hide('slow');
					$("#form-curieux").hide('slow');
					$("#form-consultant").hide('slow');
				});
				$("#close-form3").click(function () {
					$("#form-societe").hide('slow');
					$("#form-curieux").hide('slow');
					$("#form-consultant").hide('slow');
				});

				$("#cancel-button1").click(function () {
					$("#form-societe").hide('slow');
					$("#form-curieux").hide('slow');
					$("#form-consultant").hide('slow');
				});
				$("#cancel-button2").click(function () {
					$("#form-societe").hide('slow');
					$("#form-curieux").hide('slow');
					$("#form-consultant").hide('slow');
				});
				$("#cancel-button3").click(function () {
					$("#form-societe").hide('slow');
					$("#form-curieux").hide('slow');
					$("#form-consultant").hide('slow');
				});

			});

			$("#conf-societe").click(function () {
				$("#form-societe").show('slow');
				$("#form-curieux").hide('slow');
				$("#form-consultant").hide('slow');
			});
			$("#conf-curieux").click(function () {
				$("#form-societe").hide('slow');
				$("#form-curieux").show('slow');
				$("#form-consultant").hide('slow');
			});
			$("#conf-consultant").click(function () {
				$("#form-societe").hide('slow');
				$("#form-curieux").hide('slow');
				$("#form-consultant").show('slow');
			});</script>


<!-- Start Service Area -->
<section id="forms">
  <section class="pt-130 pb-100 gradient-bg ts-bg-shape" id="form-societe">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Start Section Title -->
          <div class="title-white" style="text-align: center">
            <h2>Veuillez remplir le formulaire société</h2>
          </div>
          <!-- End Section Title -->
        </div>
      </div>
      <div class="col-md-6 col-12" style="margin: auto; padding-top: 30px">
        <div class="contact-form bg-light">
          <div class="form-response"></div>
          <form method="post" action="sendmail.php" class="parsley-validate">
            <span id="close-form1" class="close">&times;</span>
            <div class="input-wrap">
              <input type="text" name="namesoc" class="form-control" placeholder="Société" required>
              <span class="highlight"></span>
            </div>
            <div class="input-wrap">
              <input type="tel" name="telsoc" class="form-control" placeholder="Numéro de téléphone" required>
              <span class="highlight"></span>
            </div>
            <div class="input-wrap">
              <input type="email" name="emailsoc" class="form-control" placeholder="E-mail de la société" required>
              <span class="highlight"></span>
            </div>
            <div class="input-wrap">
              <textarea name="adrsoc" class="form-control" placeholder="Adresse de la société" required></textarea>
              <span class="highlight"></span>
            </div>
            <div class="input-wrap">
              <input type="text" name="nameresp" class="form-control" placeholder="Nom du responsable"
                     required>
              <span class="highlight"></span>
            </div>
            <div class="input-wrap">
              <input type="text" name="lnameresp" class="form-control"
                     placeholder="Prénom du responsable" required>
              <span class="highlight"></span>
            </div>
            <button class="btn">Envoyer</button>
            <button id="cancel-button1" class="btn" style="position: absolute; right: 0">Annuler</button>
          </form>
        </div>
      </div>
      <!-- End Contact Form -->
    </div>
  </section>


  <!-- Start Service Area -->
  <section class="pt-130 pb-100 gradient-bg ts-bg-shape" id="form-curieux">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Start Section Title -->
          <div class="title-white" style="text-align: center">
            <h2>Veuillez remplir le formulaire curieux</h2>
          </div>
          <!-- End Section Title -->
        </div>
      </div>
      <div class="col-md-6 col-12" style="margin: auto; padding-top: 30px">
        <div class="contact-form bg-light">
          <div class="form-response"></div>
          <form method="post" action="sendmail.php" class="parsley-validate">
            <span id="close-form2" class="close">&times;</span>
            <div class="input-wrap">
              <input type="text" name="name" class="form-control" placeholder="Nom" required>
              <span class="highlight"></span>
            </div>
            <div class="input-wrap">
              <input type="email" name="email" class="form-control" placeholder="E-mail" required>
              <span class="highlight"></span>
            </div>
            <div class="input-wrap">
              <input type="text" name="subject" class="form-control" placeholder="Objet">
              <span class="highlight"></span>
            </div>
            <div class="input-wrap">
              <textarea name="message" class="form-control" placeholder="Ecrivez votre demande"
                        required></textarea>
              <span class="highlight"></span>
            </div>
            <button class="btn">Envoyer</button>
            <button id="cancel-button2" class="btn" style="position: absolute; right: 0">
              Annuler
            </button>
          </form>
        </div>
      </div>
      <!-- End Contact Form -->
    </div>
  </section>


  <!-- Start Service Area -->
  <section class="pt-130 pb-100 gradient-bg ts-bg-shape" id="form-consultant">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Start Section Title -->
          <div class="title-white" style="text-align: center">
            <h2>Veuillez remplir le formulaire consultant</h2>
          </div>
          <!-- End Section Title -->
        </div>
      </div>
      <div class="col-md-6 col-12" style="margin: auto; padding-top: 30px">
        <div class="contact-form bg-light">
          <div class="form-response"></div>
          <form method="post" action="sendmail.php" class="parsley-validate">
            <span id="close-form3" class="close">&times;</span>
            <div class="input-wrap">
              <input type="text" name="namecons" class="form-control" placeholder="Nom" required>
              <span class="highlight"></span>
            </div>
            <div class="input-wrap">
              <input type="text" name="lnamecons" class="form-control" placeholder="Prénom" required>
              <span class="highlight"></span>
            </div>
            <div class="input-wrap">
              <input type="email" name="emailcons" class="form-control" placeholder="E-mail" required>
              <span class="highlight"></span>
            </div>
            <div class="input-wrap">
              <input type="text" name="postecons" class="form-control" placeholder="Poste">
              <span class="highlight"></span>
            </div>
            <div class="input-wrap">
              <input class="btn" type="file" id="myFile" name="filename" required>
              <span class="highlight"></span>
            </div><br>
            <button class="btn">Envoyer</button>
            <button id="cancel-button3" class="btn" style="position: absolute; right: 0">
              Annuler
            </button>
          </form>
        </div>
      </div>
      <!-- End Contact Form -->
    </div>
  </section>
</section>
<!-- End Service Area -->
<!-- Start Testimonial Area -->
<!-- Start Contact Details -->
<section class="pos-relative pt-50 pb-xl-5">

  <!-- Start Contact Details Content -->
  <div class="contact-details pb-170 pt-50" id="contacts">
    <div class="container">
      <div class="row">
        <div class="">
          <div class="contact-details-content">
            <ul>
              <li><h4><i class="fa fa-map-marker"></i>Adresse de contact</h4></li>
              <li>66bis Avenue Salah Ben Youssef, 9A, Tunisie</li>
            </ul>
            <ul>
              <li><h4><i class="fa fa-phone"></i>Numéros de téléphone</h4></li>
              <li>
                <a href="tel:+01234567898">01234567898</a>,
                <a href="tel:+9876543210">9876543210</a>, <br>
                <a href="tel:+9876543210">9876543210</a>
              </li>
            </ul>
            <ul>
              <li><h4><i class="fa fa-pencil-square-o"></i>E-mails</h4></li>
              <li>
                <a href="mailto:you@yourdomain.com">yourdomain1@email.com</a>, <br>
                <a href="mailto:your.mail@example.com">your.mail@example.com</a>
              </li>
            </ul>
            <ul>
              <li><h4><i class="fa fa-clock-o"></i>Horaires de travail</h4></li>
              <li>Du lundi au vendredi (9.00 - 18.00) <br> Samedi(10.30 - 16.30)</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Contact Details Content -->
  <!-- Start Map -->
  <div class="map" data-trigger="map" id="map"
       data-map-options='{"latitude": "36.841888", "longitude": "10.151971", "zoom": "11", "api_key": "AIzaSyCjkssBA3hMeFtClgslO2clWFR6bRraGz0"}'></div>
  <!-- End Map -->
</section>
<!-- Start Contact Details -->
<!-- Start Subscribe Area -->
<section id="about">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-8 col-12">
        <div class="subscribe-area">
          <div class="row align-items-center">
            <div class="col-md-6">
              <!-- Start Sucscribe Heading -->
              <div class="subscribe-text">
                <h4>Souscrivez</h4>
                <p>à notre newsletter pour être informé de nos actualités</p>
              </div>
              <!-- End Subscribe Heading -->
            </div>
            <div class="col-md-6">
              <!-- Start Subscribe Form -->
              <div class="subscribe-from">
                <form class="parsley-validate"
                      action="https://themelooks.us13.list-manage.com/subscribe/post?u=79f0b132ec25ee223bb41835f&amp;id=f4e0e93d1d"
                      method="post" name="mc-embedded-subscribe-form" target="_blank">
                  <div class="input-wrap">
                    <input class="form-control" type="email" name="EMAIL" id="#"
                           placeholder="Entrez votre e-mail" required>
                    <span class="highlight"></span>
                  </div>
                  <button class="subscribe-btn" type="submit">
                    <i class="fa fa-paper-plane"></i>
                  </button>
                </form>
              </div>
              <!-- End Subscribe Form -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Subscribe Area -->
<!-- Start Footer -->
<footer class="footer">
  <!-- Start Footer Top -->
  <div class="footer-top ptb-130">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-12">
          <!-- Start Footer Widget -->
          <div class="footer-widget mb-30">
            <a href="index.html" class="footer-logo">
              <img src="../assets/images/LogoFiles/ForWeb/small.png" alt="Site Logo" width="25%"
                   height="25%">
            </a>
            <div class="footer-about">
              <p>
                There are many variations of passages of Lorem Ipsum available, but the majority
                have suffered alteration in some form, by injected
              </p>
              <p class="mt-30">
                it is pleasure, but because those who do not know how to pursue
                pleasure form.
              </p>
              <a href="#" class="footer-about-btn">plus<i class="fa fa-long-arrow-right"></i></a>
            </div>
          </div>
          <!-- End Footer Widget -->
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <!-- Start Footer Widget -->
          <div class="footer-widget widget mb-30">
            <h4 class="widget-title">Nouvelles récentes</h4>
            <!-- Start Footer Blog -->
            <div class="footer-blog">
              <div class="single-footer-blog media mb-30">
                <img src="../assets/img/blog/footer-blog-1.jpg" alt="Footer Blog">
                <div class="media-body">
                  <h5><a href="#">We build positive brand’s img visually.</a></h5>
                  <a href="#">
                    <span class="date">
                      <i class="fa fa-clock-o"></i>20 June 2018
                    </span>
                  </a>
                </div>
              </div>
              <div class="single-footer-blog media mb-30">
                <img src="../assets/img/blog/footer-blog-2.jpg" alt="Footer Blog">
                <div class="media-body">
                  <h5><a href="#">Everything you need to know to cut.</a></h5>
                  <a href="#">
                    <span class="date">
                      <i class="fa fa-clock-o"></i>20 June 2018
                    </span>
                  </a>
                </div>
              </div>
              <div class="single-footer-blog media mb-30">
                <img src="../assets/img/blog/footer-blog-3.jpg" alt="Footer Blog">
                <div class="media-body">
                  <h5><a href="#">The cord and ditch cable to order now.</a></h5>
                  <a href="#">
                    <span class="date">
                      <i class="fa fa-clock-o"></i>20 June 2018
                    </span>
                  </a>
                </div>
              </div>
            </div>
            <!-- End Footer Blog -->
          </div>
          <!-- End Footer Widget -->
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <!-- Start Footer Widget -->
          <div class="footer-widget widget mb-30">
            <h4 class="widget-title">Retrouvez nous</h4>
            <!-- Start Footer Info -->
            <div class="footer-info">
              <div class="single-footer-info">
                <strong><i class="fa fa-mobile"></i></strong>
                <h5>(888) 888-7894</h5>
                <h5>support@example.com</h5>
              </div>
              <div class="single-footer-info">
                <i class="fa fa-map-marker"></i>
                <p>
                  CA 96022 Riverwood Drive Street
                  Suite 3845 Cottonwood
                </p>
              </div>
              <div class="single-footer-info">
                <i class="fa fa-globe"></i>
                <p>yourdomainname.com</p>
              </div>
            </div>
            <!-- End Footer Info -->
            <!-- Start Social Icons -->
            <div class="footer-social-icon">
              <ul class="social-icon">
                <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              </ul>
            </div>
            <!-- End Social Icons -->
          </div>
          <!-- End Footer Widget -->
        </div>
      </div>
    </div>
  </div>

  <!-- Start Copyright-->
  <div class="footer-bottom text-center">
    <small>Copyright 2020 by <strong>Mitux team</strong>. All Rights Reserved.</small>
  </div>
  <!-- End Copyright -->

</footer>
<!-- End Footer Top -->
<!-- Start Back to Top Button -->
<a href="#" class="back-top">
  <i class="fa fa-caret-up"></i>TOP
</a>
<!-- End Back to Top Button -->
